body, html {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: white;
  }
  
  #naviHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    background-color: white;
    padding: 0 10px;
  }

  #benefitBg{  
    position : relative;
    width :100%;
    height: calc(100vh + 120px);
    padding-top : 20;
    padding-bottom : 20;
    background-image: url("../img_bankis_benefit_bg.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }

<<<<<<< HEAD
  /* #btnGroup{
    position : relative;
    width : 100%;
    height: calc(100vh + 120px);
    padding-top : 20;
    padding-bottom : 20;
  } */

  button.btn1 {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 37%;
    left : 6.8%;
    width: 86.5%;
    height: 5%;
  }

  button.btn2 {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 42.5%;
    left : 6.8%;
    width: 86.5%;
    height: 5%;
  }
  button.btn3 {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 62.3%;
    left : 6.8%;
    width: 86.5%;
    height: 5%;
  }
  button.btn4 {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 67.8%;
    left : 6.8%;
    width: 86.5%;
    height: 5%;
  }
  button.btn5 {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 88.6%;
    left : 6.8%;
    width: 86.5%;
    height: 5%;
=======
  .btnGroup{
    margin-left: 20px;
    border-radius: 5px;
    border-color: darkgrey;
    font-size: 17px;
    font-weight:350;
    color :rgb(16, 16, 16);
  }

  button.btn1 {
    background-color: white;
    position: absolute;
    top: 37%;
    width: 90%;
    height: 5%;
    border-radius: 5px;
    border-color: darkgrey;
    font-size: 17px;
    font-weight:350;
    color :rgb(16, 16, 16);
  }

  button.btn2 {
    background-color: white;
    position: absolute;
    top: 42.5%;
    width: 90%;
    height: 5%;
    border-radius: 5px;
    border-color: darkgrey;
    font-size: 17px;
    font-weight:350;
    color :rgb(16, 16, 16);
  }
  button.btn3 {
    background-color: white;
    position: absolute;
    top: 62.3%;
    width: 90%;
    height: 5%;
    border-radius: 5px;
    border-color: darkgrey;
    font-size: 17px;
    font-weight:350;
    color :rgb(16, 16, 16);
  }
  button.btn4 {
    background-color: white;
    position: absolute;
    top: 67.8%;
    width: 90%;
    height: 5%;
    border-radius: 5px;
    border-color: darkgrey;
    font-size: 17px;
    font-weight:350;
    color :rgb(16, 16, 16);
  }
  button.btn5 {
    background-color: white;
    position: absolute;
    top: 88.6%;
    width: 90%;
    height: 5%;
    border-radius: 5px;
    border-color: darkgrey;
>>>>>>> 2ce396a511158259f8457f94dde75272282b8883
    font-size: 17px;
    font-weight:350;
    color :rgb(16, 16, 16);
  }
  
  #naviLogo {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  
  #brand {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
  }
  #brand a {
    color: black;
  }
  
  header a {
    text-decoration: none;
  }