body, html {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: white;
  }
  
  #naviHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    background-color: white;
    padding: 0 10px;
  }
  
  #naviLogo {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  
  #brand {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
  }
  #brand a {
    color: black;
  }
  
  header a {
    text-decoration: none;
  }