html {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: white;
    padding : 0;
  }
  
  #naviHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    background-color: white;
    padding: 0 10px;
  }

  #benefitBg{  
    position : relative;
    width: 100%;
    height: 0;
    padding-top: calc(2.22*100%);
    padding-bottom : 50px;
    background-image: url("../img_bankis_benefit_bg.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: block;
  }

  .btnGroup{
    margin-left: 5%;
  }

  .content-btn{
    background-color: white;
    position: absolute;
    width: 90%;
    height: calc((100vw)*0.12);
    border-radius: 5px;
    border-color: darkgrey;
    font-size: 17px;
    font-weight:350;
    color :rgb(16, 16, 16);
  }

  button.btn1 {
    top: calc((100vw)*0.89);
  }

  button.btn2 {
    top: calc((100vw)*1.02);
  }

  button.btn3 {
    top: calc((100vw)*1.49);
  }
  button.btn4 {
    top: calc((100vw)*1.62);
  }
  button.btn5 {
    top: calc((100vw)*2.12);
  }
  
  #naviLogo {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  
  #brand {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
  }
  #brand a {
    color: black;
  }
  
  header a {
    text-decoration: none;
  }