body, html {
    margin: 0;
    padding: 0;
}
#eventTitle{
  padding: 0 10px;
}

#dateRange{
  padding: 0 10px;
  float: left;
  vertical-align: middle;
}

.event{
  width:100%;
  height:100vh;
}

.tabHeader{
  width: 100%;
}

.shareButton {
  display: flex;
  align-items: center;
  border: 1px solid #fff;
  border-color: lightgray;
  border-radius: 8px;
  padding-left: 45px;
  padding-right: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  margin-right: 40px;
  float:right;
  width: 50px;
  vertical-align: middle;
}
