
.filterWrap {
  display : flex;
  align-items: center;
  text-align: center;
  height: 60px;
  background-color: #eeeeee;
}

.filterTab {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 18px;
  border: 1px solid #fff;
  border-color: lightgray;
  border-radius: 18px;
  height: 38px;
  padding-left: 12px;
  padding-right: 8px;
  cursor: pointer;
  background-color: white;
}

.clickedfilterTab{
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 18px;
  border: 1px solid #fff;
  border-color: black;
  border-radius: 18px;
  height: 38px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
  background-color: white;
}

.initBtn{
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 18px;
  border: 1px solid #fff;
  border-color: lightgray;
  border-radius: 18px;
  height: 38px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
  background-color: white;
}

.filterTab[data-active="true"] {
  border-color: black;
}

.filterTab.hover {
  background-color: lightgray;
}

.filterCount {
  color: orange;
  margin-left: 8px;
}

.popover {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box; /*너비를 넘지않도록*/
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.overlay {
  position: fixed;
  top: 175px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow: hidden;
}

#filterArrowDown {
  width: 20px;
  height: 20px;
  margin-left: 4px;
  visibility: visible;
}

#filterArrowUp {
  width: 20px;
  height: 20px;
  margin-left: 4px;
  visibility: visible;
}
