.events {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
}

.EventCard {
    height: 10px;
    background-color: red;
}

.event-card {
    /* height: 10px; */
}

.event-card-image {
    width: 100%;
    height: 100%;
}